## Kaggle ML2
## Matteo A. D'Alessandro, Carlo A. Patti

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score

In [3]:
train_data = pd.read_csv('train.csv')

In [4]:
train_data

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,242642,2881,130,22,210,54,1020,250,221,88,...,0,0,0,0,0,0,0,0,0,1
1,309891,3005,351,14,242,-16,1371,194,215,159,...,0,0,0,0,0,0,0,0,0,1
2,287847,3226,63,14,618,2,1092,232,210,107,...,0,0,0,0,0,0,0,0,0,1
3,516307,3298,317,8,661,60,752,198,233,174,...,0,0,0,0,0,0,0,0,0,1
4,124860,3080,35,6,175,26,3705,219,227,144,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15115,475155,3328,321,13,323,12,5109,186,227,180,...,0,0,0,0,0,0,1,0,0,7
15116,514378,3455,37,5,841,92,939,220,229,146,...,0,0,0,0,0,0,0,0,1,7
15117,368425,3279,90,14,404,113,1513,240,218,105,...,0,0,0,0,0,0,0,0,0,7
15118,537844,3589,357,9,418,52,1868,205,223,155,...,0,0,0,0,0,0,0,0,1,7
15119,463634,3385,345,15,350,76,3625,190,216,164,...,0,0,0,0,0,0,0,0,1,7

In [8]:
target = "Cover_Type"

In [9]:
from tpot import TPOTClassifier

# Split the data into features and target variable
X = train_data.drop([target, "Id"], axis=1)

y = train_data[target]

# Split the data into training and testing sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Create an instance of TPOTClassifier
tpot = TPOTClassifier(generations=5, population_size=10, verbosity=2, random_state=42)

# Fit the TPOTClassifier on the training data
tpot.fit(X_train, y_train)

# Evaluate the TPOTClassifier on the testing data
accuracy = tpot.score(X_val, y_val)
print(f"Accuracy: {accuracy}")

Optimization Progress:   0%|          | 0/60 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: 0.8315967598112737

Generation 2 - Current best internal CV score: 0.8550758287524044

Generation 3 - Current best internal CV score: 0.8554062706056392

Generation 4 - Current best internal CV score: 0.8561506872247598

Generation 5 - Current best internal CV score: 0.8597880074752562

Best pipeline: GradientBoostingClassifier(input_matrix, learning_rate=0.1, max_depth=10, max_features=0.9500000000000001, min_samples_leaf=5, min_samples_split=13, n_estimators=100, subsample=0.55)
Accuracy: 0.8680555555555556

In [12]:
from joblib import dump
model = tpot.fitted_pipeline_
# Specify the file path to save the model
model_filepath = 'tpot_forest_model.joblib'

# Save the model pipeline
dump(model, model_filepath)

['tpot_forest_model.joblib']